


/* inizio css / body*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Open Sans', sans-serif;

}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
/* header + clearfix */
header{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:#000;

    width:100%;
    height:80px;
    line-height:78px;

    background-color: #fff;
    border-bottom:1px solid lightgrey;

    position:fixed;
    z-index:100;
    top:0;
    left:0;
}

.listaheader{
    font-size:18px;
    letter-spacing: 0.2px;
    font-weight:400;
}


.float-left{
    float: left;
}
.float-right{
    float: right;
}
.listaheader li:hover{
    border-bottom: 2px solid black;
}
.float-left li:first-child:hover, .float-right li:last-child:hover{
    border-bottom:none;
} 
/* logo */
#logo{
    width:120px;
    vertical-align: middle;
}
.listaheader ul li{
    list-style:none;
    display: inline-block;
    margin:0 20px;
}
header a{
    text-decoration: none;
    color: black;
}
/* lista */

/* fine lista */

/* started div */

.btn{
    padding:8px 20px;
    margin:40px 0 10px 0;
}

.btn-blue{
    background-color: blue;
    color:#fff;
}

.btn-blue:hover{
    background-color: rgba(0, 0, 255, 0.5);
}
/* fine started */

/* inizio jumbotron */
.jumbo{
    height:850px;
    padding: 130px 55px 0 55px;
    background-color: rgb(180, 208, 231);
    margin-bottom:200px;
}
.jumbotroncontainer{
    position:relative;
}
.jumbo-img{
    width:50%;
    margin-top: 10%;
    margin-right:20%;
    float: right;
}
.jumbo a{
    text-decoration: none;
    color:white;

}

/* startyourtrial div  */
.btnstart {
    position: absolute;
    top:200px;
    text-align: center;
    width: 250px;
    vertical-align: middle;
    background-color: #0061FF;
    height: 60px;
    line-height: 60px;
    color:orange;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    
}
.btnstart:hover{
    background-color: rgba(0, 0, 255, 0.5);
}
.btnstart span{
    color: black;
    float: left;
}
.btnstart span i{
    float: left;
    font-size: 50px;
}
h1{
    font-size:60px;
    letter-spacing: -0.5px;
    margin-bottom: 60px;
}
.jumbotron-box-text{
    width: 300px;
    height: 300px;
    float: left;
    position: absolute;
    font-size: 20px;
}
/* fine startyourtrialdiv */

/* inizio main */
main{
    width: 80%;
    margin: 0 auto;
}

/* prima sezione */

.business{
    font-size: 30px;
    padding-left: 10%;
}
.business h1{
    font-family: 'Arvo', serif;
}

/* w3school CUSTOM BUTTON  */

/* The container */
.containerbilled {
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* Hide the browser's default radio button */
.containerbilled input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containerbilled:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerbilled input:checked ~ .checkmark {
    background-color:#0061FF;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerbilled input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerbilled .checkmark:after {
       top: 7px;
      left: 6px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: white;
  }
/* /* box per ogni sezione */
.box{
      border: 1px solid grey;
      height: 800px;
      width: calc(100% / 3 - 50px);
      float: left;
      margin: 20px;
      line-height: 1.8em;
      margin-top: 50px;
}
.containerbox{
      width: 100%;

}
.free a{
    text-decoration: none;
    color: white;

}

.sezione{
      height: 40px;
      line-height: 40px;
      width: 100%;
      border-bottom: 1px solid grey;
      text-align: center;
}
  .mainsezione{
      padding-left: 40px;
      padding-top: 40px;
  }
  .sezioneprima{
      padding-top: 40px;
  }
  .free{
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    width: 250px;
    background-color: #0061FF;
    height: 60px;
    line-height: 60px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.free:hover{
    background-color: #3B85FF;
    cursor: pointer;
}
span{
    margin-top: 30px;
}
.purchase{
    text-decoration: underline;
    color: blue;
}
.line{
    display: inline-block;
    width: 60px;
    color: white;
    border-bottom: 1px solid grey;
    padding-top: 40px;
}
ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.mainsezione ul li:before {
	content: "\2713";
	position: absolute;
	left: 0;
    color: blue ;
}
.teamcontainer{
    position: relative;
    border: 1px solid grey;
    height: 300px;
    width: 90%;
    float: left;
    margin-left: 50px;
    line-height: 1.8em;
    margin-top: 50px;
}
.sezione{
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-bottom: 1px solid grey;
    text-align: center;
}

/* prima sezione--parte team */
.team{
    width: 100%;
    height: 1400px;
}
.testoteam{
    padding-top: 30px;
    padding-left: 50px;
    line-height: 3em;
    
}
.contactsales{
    position: absolute;
    top:100px;
    right: 30px;
    text-align: center;
    width: 250px;
    background-color: #0061FF;
    height: 60px;
    line-height: 60px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.contactsales a {
    text-decoration: none;
    color: white;
}
.contactsales:hover{
    background-color: #3B85FF;
    cursor: pointer;
}

/* fine prima sezione */

/* inizio seconda sezione  */
.partners{
    margin: 50px;
     width: 100%;
     height: 500px;
     position: relative;
}
.partner-img{
    width: 50%;
    vertical-align: middle;
    float: left;
    display: inline-block;
}

.partner-txt{
    vertical-align: middle;
    padding-left: 10px;
    float: left;
    width: 500px;
}
.partner-txt h3{
    margin-bottom:20px;
    font-size: 30px;
    padding-top: 100px;
}
.main-txt{
    margin-bottom: 20px;
    font-size: 20px;
}
.partner{
    border: 1px solid black;
    width: 250px;
    margin-top: 100px;
    padding: 8px 20px;
    
}
.partner a {
    text-decoration: none;
    color: black;
}
.partner:hover{
    background-color:lightgray;
}
/* fine seconda sezione */
.grid-container{
    width: 100%;
    height:100%;
    margin-left: 30px;
    
}
.col{
    display: inline-block;
    height: 500px;
    width: calc(100% / 3 - 60px);
    float: left;
    margin: 20px;
}
.row img{
    display: inline-block;
    width: 300px;
    height: 300px;
}
.operations h1{
    font-size: 40px;
    font-weight: 900;
    padding-left: 40px;
    padding-top: 50px;
}
.operations h2{
    font-size: 40px;
    font-weight: 900;
    padding-left: 40px;
    padding-top: 50px;
}
.operations h3{
    font-size: 30px;
    font-weight: 900;
    line-height: 1em;
}
.linklearn{
    padding-left: 40px;
    font-size: 30px;
    color: #3B85FF;

}
.col .main-text{
    font-size: 20px;
    padding-top: 20px;
    font-weight: 600;
}
.link{
    text-decoration: none;
    color: black;
}
.sezionequarta-box-left{
    float: left;
    width:30vw;
    height: 600px;
    cursor: pointer;
}

.sezionequarta{
    width: 124.5% ;
    height: 400px;
    margin-left: -150px;
    margin-top: 40px;
    background-color: #F5F5F5;
}

.imgbox{
    float: left;
    position: relative;
    width: 50%;
    height: 200px;
    background-color: #A2D39B;
    background-size: 100% 100%;
    text-align: center;
}
.imgbox svg{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    
    background-size: 100% 100%;
    text-align: center;
    filter: invert(100%);
    background-color: transparent;
}
.imgbox img{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 40px;
    
    background-size: 100% 100%;
    text-align: center;
    filter: invert(100%);
    background-color: transparent;
}
.designit{
    background-color: #A2D39B;;
}
.arizona{
     background-color: #61082B;
}
.university{
    background-color: #0093CE;
}
.topps{
    background-color: #FF1C1C;
}
.imgbox img{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 40px;
    
    background-size: 100% 100%;
    text-align: center;
    filter: invert(100%);
    background-color: transparent;
}
.sezionequarta-box-center{
    position: relative;
    float: left;
    width:39%;
    height: 200px;
    
}
.border{
    margin-left: 20px;
    padding-top: 150px;
    content: '';
    height: 50px;
    width:100px;
    border-bottom: 1px solid #ccc;
    z-index: 500;
}
.sezionequarta-box-center img{
    float: left;
    position: absolute;
    top:80px;
    left: 0%;
    padding-left: 20px;
    padding-bottom: 40px;
}
.sezionequarta-box-center p{
    padding-top: 40px;
    padding-left: 20px;
    font-weight: 600;
}
.sezionequarta-box-right{
    width: 30vw;
    float: left;
    position: relative;
    cursor: pointer;
}
.world{
    background-color: #D5001F;
}
.hearst{
    background-color: #B4D0E7;
}
.lonely{
    background-color: #0D2481;
}
.clear{
    background-color: #FFD830;
}
/* fine quarta sezione */













